@import "tailwindcss";

@theme {
  --color-surface: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container: #eaedff;
  --color-surface-container-high: #e2e7ff;

  --color-on-surface: #131b2e;
  --color-on-surface-variant: #434655;
  
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
  
  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  
  --color-secondary: #505f76;
  --color-secondary-container: #d0e1fb;
  
  --color-tertiary: #006329;
  --color-tertiary-container: #007f36;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --radius-sm: 0.25rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}